@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,500,700|Roboto+Condensed:300,400,600);

body {
	font-family: 'Roboto';

	display: table-cell;
	overflow: hidden;

	background: #C7ffDE;
}

table#page {
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	border-spacing: 0;
	border-collapse: collapse;
}

table#page td {
	overflow: hidden;
}

/*GENERAL PURPOSE*/

hr {
	height: 1px;
	margin: 10px 10px 0;

	background: #B25C56;
	border: none;
}

.semilight {
	font-weight: 300;
}
.semibold {
	font-weight: 500;
}

.lightred {
	color: #FFB3AE;
}
.darkred {
	color: #B25C56;
}

.lightgreen {
	color: #C7FFDE;
}
.darkgreen {
	color: #68B287;
}

/*TOP LEFT*/
#a1 {
	text-align: right;
	width: 300px;
	height: 200px;
	vertical-align: bottom;
}

#searchBtn, #browseBtn {
	margin-right: -10px;

	text-transform: uppercase;
	border: none;
	outline: none;

	cursor: pointer;

	padding: 10px 20px;

	font-size: 0.75em;
}
#searchBtn {
	background: #ffb3ae;
	color: #b25c56;

	margin-bottom: 10px;
}
#browseBtn {
	background: #68B287;
	color: #C7ffDE;
}

#a1 button.inactive {
	box-shadow: -20px 0px 10px -10px rgba(0, 0, 0, 0.5) inset;
}

#user, #user_thing {
	margin-right: 10px;

	font-weight: 300;
}
#user {
	font-size: 1.15em;
}
#user_thing {
	font-family: 'Roboto Condensed';
	font-size: 1em;

	cursor: pointer;

	text-decoration: none;
}

/*TOP MIDDLE*/
#a2 {
	background: #FFB3AE;

	vertical-align: bottom;
}

#searchFieldArea {
	height: 120px;
	padding: 5px 0 20px;
	text-align: center;

	box-sizing: border-box;
}

#searchField {
	width: 80%;
	height: 40px;

	margin: 0px auto;

	border: 1px solid #CCC;
	border-radius: 5px;

	text-align: center;
	font-size: 20px;
}

#selectSearchArea {
	text-align: center;
	color: #B25C56;
	font-size: 1.25em;
}
#selectSearchArea input[type="radio"] {
	display: none;
}
#selectSearchArea input[type="radio"] + label {
	cursor: pointer;
	font-weight: 300;
}
#selectSearchArea input[type="radio"]:checked + label {
	font-weight: 500;
}

#a2 hr {
	background: #777;
}

#browseTop h2 {
	color: #c7ffde;
	font-family: 'Roboto Condensed';
	font-weight: 300;
	font-size: 3em;
	text-transform: uppercase;
	margin-left: 10px;
	margin-bottom: 0px;
}

#browseTop h4 {
	color: #c7ffde;
	font-family: 'Roboto Condensed';
	font-weight: 300;
	font-size: 1.25em;
	margin-left: 10px;
	margin-top: 0px;
}

/*TOP RIGHT*/
#a3 {
	width: 300px;

	vertical-align: bottom;
}
#curcol, #current_collection {
	margin-left: 10px;
}

/*MIDDLE LEFT*/
#b1 {
	/*height: 450px;*/
	vertical-align: top;
}
#usercollections {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden; 
	overflow-y: auto;

	text-align: right;
}

.usercollection {
	position: relative;
	left: -5px;

	cursor: pointer;
	padding: 5px 12px;
	margin: 5px inherit;
}
.usercollection.selected {
	background: rgba(104, 178, 135, 0.5);
}
.usercollection button {
	position: absolute;
	left: 10px;
	top: 13px;

	background: none;
	border: none;

	cursor: pointer;

	font-weight: 100;
	font-size: 1em;
}
.usercollection h1 {
	font-size: 1.15em;
	font-family: 'Roboto Condensed';
	margin: 0 inherit;
}
.usercollection h2 {
	font-size: 0.95em;
	font-weight: 300;
	font-family: 'Roboto';
	margin: 0 inherit;
}

/*MIDDLE MIDDLE*/
#b2 {
	background: #FFB3AE;

	vertical-align: top;

	/*height: 450px;*/
	padding: 30px 0;
	box-sizing: border-box;
}

#browse h2 {
	color: #c7ffde;
	font-family: 'Roboto Condensed';
	font-weight: 300;
	text-transform: uppercase;
	margin-left: 10px;

}

#searchresults, #browse {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden; 
	overflow-y: auto;
}

.card {
	background: #FFF;
	border-bottom: 3px solid #CCC;

	margin: 10px auto;

	width: 90%;
	padding: 15px 45px;
	border-radius: 2px;

	box-sizing: border-box;
	position: relative;

	text-align: center;

	/*transition: all 0.25s;*/

	cursor: pointer;
}
.card:hover {
	/*box-shadow: inset 0 0 0 3px #FF0;*/
	border-color: #B25C56;

	/*transition: all 0.25s;*/
}

.card h1 {
	font-weight: 300;
	color: #555;
	text-align: left;

	font-size: 1.5em;

	width: 70%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	margin: 0;
}
.card h1 span {
	color: #999;
	font-weight: 100;
}
.card h2 {
	font-weight: 500;
	color: #999;
	text-align: center;

	font-size: 1em;

	margin-top: 5px;
}
.card p {
	font-weight: 300;
	margin: 15px auto 30px;
	display: inline-block;
	text-align: left;
}
.card .more {
	display: none;
}
.card .tag {
	position: absolute;
}

.card.user h1 {
	font-size: 1em;
}

.ui-draggable-helper {
	width: 250px;
}
.ui-draggable-helper h1 {
	font-size: 1em;
	width: 100%;
}
.ui-draggable-helper h2, .ui-draggable-helper p {
	display: none;
}

/*MIDDLE RIGHT*/

#b3 {
	vertical-align: top;
}

#collectionsongs {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden; 
	overflow-y: auto;
}

.small.card {
	width: 250px;
}
.small.card h1 {
	font-size: 1em;
	width: 100%;
}
.small.card h2, .small.card p {
	display: none;
}

/*BOTTOM LEFT*/
#c1 {
	height: 110px;
	vertical-align: top;
	text-align: right;

	position: relative;
}

#addBtn {
	background: none;
	border: none;

	font-weight: 700;
	font-size: 3.25em;

	color: #68B287;

	border: none;
	outline: none;
	cursor: pointer;

	position: absolute;
	left: 15px;
	top: 20px;
}

#c1 input {
	height: 20px;
	width: 180px;

	margin: 5px 20px;

	border: 1px solid #CCC;
	border-radius: 5px;

	padding: 3px 10px;
}
#c1 input#collectionName {
	margin-top: 15px;
}

/*BOTTOM MIDDLE*/
#c2 {
	background: #FFB3AE;
}

/*BOTTOM RIGHT*/
#c3 {
	vertical-align: top;
}
#trash {
	width: 100%;
	height: 80%;
	margin: 7px 0 0 0;
	padding: 0;
	overflow-x: hidden; 
	overflow-y: auto;

	background: url(delete.png) no-repeat center;
	background-size: contain;
}

/*PANES*/
#leftpane {
	z-index: 4;

	background: #c7ffde;
	height: 100%;
	width: 300px;

	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;

	overflow-x: hidden;
}
#midpane {
	z-index: 2;

	background: #FFB3AE;
	padding: 0 300px;

	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
#rightpane {
	z-index: 3;

	background: #C7FFDE;
	width: 300px;

	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;

	overflow-x: hidden; 
}

/*LEFT PANE*/

#leftpane button {
	
}


/*MIDDLE PANE*/